<header>
  <nav>
    <ul>
      <li>
        <a href routerLink="/">login tmp</a>
      </li>
      <li>
        <a href routerLink="/recherches">Recherches</a>
      </li>
      <li>
        <a href routerLink="/requetes">Requètes</a>
      </li>
      <li>
        <a href routerLink="/series">Séries</a>
      </li>
      <li>
        <a href routerLink="/utilisateurs">Utilisateurs</a>
      </li>
      <li>
        <a href routerLink="/statistiques">Statistiques</a>
      </li>
      <li>
        <a href routerLink="/parametres">Paramètres</a>
      </li>
      <li>
        <a href routerLink="/deconnexion">Déconnexion</a>
      </li>
    </ul>
  </nav>
</header>
